.main {
  width: 70%;
  height: 700px;
  background-color: rgb(202, 178, 224);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}

.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  width: 90%;
  height: 100%;
}

.card_container {}

.card_left {}

.card_right {}

.card_right_h1 {}

.card_right_options {}

.card_right_date {}

.card_right_price {}