.container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.slider_area {
    width: 100%;
    background-color: rgb(245, 245, 245);
    object-fit: cover;
    margin-bottom: 13px;
}

.info_block {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background-color: rgba(155, 196, 196, 0.815);
    object-position: center;
}

.info_block_left {
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
    height: 500px;
    background-color: rgb(245, 245, 245);
}

.header {
    font-size: 2rem;
}

.info_block_right {
    width: 40%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.location {
    margin-bottom: 27px;
    margin-top: -7px;
}

.short_amenities {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 30px;
    margin-bottom: 50px;
}

.short_amenities_leftIcons {}

.short_amenities_leftIcons span {
    margin-right: 10px;
}

.short_amenities_rightOptions {}

.short_amenities_rightOptions span {
    margin: 0px;
}

.description {
    font-weight: 400;
    font-size: smaller;
    color: rgb(44, 44, 48);
}

.amenities {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.room_containter {
    margin: 10px 0px;
    background-color: rgb(245, 245, 245);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.room_header {
    color: black;
}

.room_photos {
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
}

.room_info {
    font-weight: 400;
    font-size: smaller;
    align-content: center;
    padding: 30px;
    color: rgb(44, 44, 48);
    width: 40%;
}