.card_container {
  margin-top: 10px;
  width: 490px;
  height: 170px;
  display: flex;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0px 5px 15px 0px;
  background-color: rgb(247 247 242);
}
.card_container_selected {
  margin-top: 10px;
  width: 490px;
  height: 170px;
  display: flex;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0px 5px 15px 0px;  
  background-color: rgb(247 247 242);
  transform: translateX(20px); /* Выдвигаем элемент вправо */
    transition: transform 0.3s ease; /* Плавный переход */
}
.card_container_selected .card_right_options_button {
  background-color: #49735A;
}

.card_container_selected .card_right_h3 {
  color: #febb02
}

.card_container_selected .card_right_price {
  color: #49735A
}

.card_left {
  width: 30%;
  height: 100%;
  border-radius: 15px 0px 0px 5px;
}

.card_right {
  /* background-color: rgb(247 247 242); */
  width: 70%;
  padding: 20px 40px 20px 20px;
  border-radius: 0px 5px 15px 0px;
  z-index: 3;
}


/* .card_container :hover {
  background-color: rgb(201, 232, 236);
} */

.card_container :hover .card_right_options_button {
  background-color: #49735A;
}

.card_container :hover .card_right_h3 {
  color: #febb02
}

.card_container :hover .card_right_price {
  color: #49735A
}

.card_right_h3 {
  color: #006ce4;
  margin-bottom: 10px;
}

.card_right_options {
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  row-gap: 8px;
}


.card_right_options span {
  margin-left: 5px;
  margin-right: 10px;
}

.card_right_options_txt {
  width: 100%;
}

.card_right_options_txt span {
  margin: 0px;
}

.card_right_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card_right_date {}

.card_right_options_button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 4px 20px;
  border-radius: 30px;
  background: #49735A;
  border: none;
  color: white;
}

.card_right_price {
  padding: 4px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.card_right_price span {
  font-weight: bold;
}



@media (max-width:768px) {

  
  .card_container {
    z-index: 10;
    white-space: nowrap;
    width: 450px;
    height: 135px;
    border-radius: 15px 5px 15px 0px;
  }

  .card_right {
    padding-top: 5px;
  }
  .card_container_selected {
    z-index: 10;
    white-space: nowrap;
    width: 450px;
    height: 135px;
    border-radius: 15px 5px 15px 0px;
    
  }

}

@media (max-width:320px) {

  .card_container {
    z-index: 10;
    white-space: nowrap;
    width: 450px;
    height: 135px;
    border-radius: 15px 5px 15px 0px;
  }

  .card_right {
    padding-top: 5px;
  }

  
  .card_container_selected {
    z-index: 10;
    white-space: nowrap;
    width: 450px;
    height: 135px;
    border-radius: 15px 5px 15px 0px;
    
  }

}