
/* Container */
.container {
    display: grid;
        grid-template-columns: 1fr;
        max-width: 72rem;
        
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem;
        background: #bdced4;
  }

  /* Container */
.menu {
    z-index: 1;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    max-width: 72rem;
    background: #FFFFFFFF;
    border-radius: 12px 4px 0px 0px;
    box-shadow: 0px 2px 3px 0px rgba(34, 60, 80, 0.2);
  }

  .left_items{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        
        width: 60%;
        height: 100%;
  }
.logo{
   
    align-content: center;
    font-size: x-large;
    height: 100%;
    color: tomato;
}
.left_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: rgb(52, 62, 119);
}
.right_items{
    
        font-size: x-small;
        color: #6b7280;
}
.email{
    margin-right: 10px;
    text-align: right;
}
.select_container {
    display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
        color: black;
        font-size: small;
}

.main_content {
    padding-top: 5rem;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    //display: grid;
    //grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.main_content_noDB{
    padding-top: 5rem;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    //display: grid;
    //grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 50%;
    text-align: center;
}

@media (min-width: 768px) {
    .main_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .right_items{
    
        font-size: small;
        color: #6b7280;
}
.del_button {
    background-color: red;
    width: 50%;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
    align-self: self-end;
    order: 3;
}
}


.form_space {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form_section {
    background-color: #faf9ff;
    padding: 1.5rem;
    border-radius: 0.375rem;
    border: 2px solid rgb(186, 209, 212)
}

.section_title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section_description {
    color: #6b7280;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input_label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    margin-bottom: 0.25rem;
}

.text_input {
    margin-top: 0.25rem;
    display: block;
    width: 95%;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 0.375rem 0.75rem;
}
.grid-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.radio_group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.radio_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio_option label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
}
.radio-buttons {
    display: flex;
    gap: 1rem;
}

.radio_buttons label {
    display: inline-flex;
    align-items: center;
}

.radio_buttons input[type="radio"] {
    color: #2563eb;
    margin-right: 0.5rem;
}
.price_input {
    position: relative;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.textarea {
    min-height: 6rem;
}
.room_del_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_rooms_block{
    display: flex;
    gap: 10px;
    align-items: baseline;

}
.roomButton {
	background-color:#eff6ff;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:blue;
    border: 0px;
	
	font-size:17px;
	padding:8px 34px;
	text-decoration:none;
}
.roomButton:hover {
	background-color:rgb(227, 238, 253);
}
.roomButton:active {
	position:relative;
	top:1px;
}
.roomButton_del {
	background-color:#eff6ff;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color: #d7113d;
    border: 0px;
	
	font-size:17px;
	padding:8px 34px;
	text-decoration:none;
}
.roomButton_del:hover {
	background-color:rgb(227, 238, 253);
}
.roomButton_del:active {
	position:relative;
	top:1px;
}

.right_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section_description {
    color: #6b7280;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
.file_input {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    color: #6b7280;
}
.file_input::file-selector-button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: 0;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #eff6ff;
    color: #1d4ed8;
    cursor: pointer;
}

.file_input::file-selector-button:hover {
    background-color: #dbeafe;
}
.toggle_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle_switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggle_input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.toggle_slider {
    width: 2.75rem;
    height: 1.5rem;
    background-color: #e5e7eb;
    border-radius: 9999px;
    position: relative;
    transition: background-color 0.2s;
}

.toggle_slider:after {
    content: '';
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    transition: transform 0.2s;
}

.toggle_input:checked + .toggle_slider {
    background-color: #2563eb;
}

.toggle_input:checked + .toggle_slider:after {
    transform: translateX(1.25rem);
    border-color: white;
}
.submit_button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.dropdown_container {
    position: relative;
    display: inline-block;
    width: 16rem;
  }
  
  .dropdown_label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #2D3748;
    margin-bottom: 0.5rem;
  }
  
  .dropdown_select {
    display: block;
    width: 100%;
    height:34px;
    padding: 0.15rem 1rem;
    font-size: 1rem;
    border: 2px solid #6366f1;
    border-radius: 0.75rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    appearance: none;
  }
  
  .dropdown_select:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5);
  }
  
  .dropdown_select:hover {
    background-color: #eef2ff;
  }
  
  .dropdown_icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  
  .dropdown_svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #9ca3af;
  }
  .images_container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.submit_room{
    margin-top: 10px;
}
.occupied{
    display: flex;
    flex-direction: row-reverse;
}

.thumbnail_container {
    position: relative;
    display: inline-block;
  }
  .delete_btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 12px;
    font-weight: bolder;
  }
.room_block{
    order: 2;
}
.del_button {
    background-color: red;
    width: 100%;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
    align-self: self-end;
    order: 3;
}
