.container {
    background-color: rgb(55, 122, 177);
    width: 100%;

    color: rgb(201, 189, 172);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 500px;

    background-color: rgb(11, 66, 66);
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images_container {
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 78, 78);
}

.images {
    display: flex;

}